<ion-header>

  <ion-navbar>
    <ion-title>Image Gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
</ion-content>